<% layout("layouts/boilerplate.ejs") -%>
<body>
  <h3>This is the home page</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, dolores
    accusantium rerum maiores aperiam aspernatur amet! Dignissimos voluptates
    consectetur deleniti harum aut quia placeat hic asperiores dolore numquam,
    nesciunt earum?
  </p>
</body>
